<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Administrator Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.js"></script>
    <script src="/admin/js/app.js"></script>

  </head>

  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Survey</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">Home</a></li>
            <li>
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Agencies by Service
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <% for (var i = 0; i < survey.survey.length; i++) { %>
                <% var section = survey.survey[i]; %>
                <li><a href="#<%= section.service.name%>"><%= section.service.name %></a></li>
                <% } %>
              </ul>
            </li>
            <li class="current"><a href="survey.html">Survey</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <br>
    <!-- main -->
    <div class ="jumbotron">
      <h2>Welcome, this is the One Stop Shop.</h2>
      <p>Please click on the checkbox if your answer is "yes" or "no".</p>
    </div>

    <!-- survey -->
    <div id="main-wrapper">
      <div class="container">
        <section class = "box">
          <% for (var i = 0; i < survey.survey.length; i++) { %>
          <% var section = survey.survey[i]; %>

          <!-- content -->
          <div id="<%= section.service.name %>">
            <h2><%= section.service.name %></h2>
            <p>If you answer any of these questions with "yes" please visit <%= section.service.name %></p>
            <% for (var v = 0; v < section.questions.length; v++) { %>
            <% var questionItem = section.questions[v] %>
              <h3><%= v+1 %>. <%= questionItem.question.text %></h3>

              <!--Add an if statement for question type-->
              <div ng-controller="btnCtrl">
                <button type="button" class="btn btn-default" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                Yes
                </button>
                <button type="button" class="btn btn-default" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                No
                </button>
              </div>
              <!--
              <button id = "'<%= questionItem.question._id%>'" type="button" class="btn btn-lg btn-default" onClick="changeToActive('<%= questionItem.question._id%>');">Yes</button>
              <button type="button" class="btn btn-lg btn-default active">No</button>
              -->
            <% } %>
            <br>
          </div>
          <% } %>
        </section>
      </div>
      <center>
        <button type="submit" class="btn btn-lg btn-success" >Submit</button>
        <button type="button" class="btn btn-lg btn-default" >Reset</button>
      </center>
    </div>
    <br>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
    angular.module('ui.bootstrap.demo').controller('ButtonsCtrl', function ($scope) {
      $scope.checkModel = {
        yes: true,
        no: false
      };
    });
    </script>
  </body>
</html>
